<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>bill</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<form action="#" th:action="@{/gotoshop1}" method="POST">
    <div class = "container">
        <div class ="junbotron">
            <h1>กำลังจัดส่งตาม Address ที่ท่านใช้สมัคร</h1>
            <h2>ติดต่อพนักงานโทร 081 1010 6969</h2>
        </div>
        <div class ="junbotron" >
            <button class="btn btn-primary">go to shop</button>
        </div>
    </div>
</form>
</body>
</html>